{% extends 'base/base.html' %}}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
            <div class="col">
                <h4 class="text-center">{{message}}</h4>
                <div class="row">

                    {% for product in products %}
                    <div class="col-3 mt-5">
                        <div class="card h-1000">
                            {% if product.image %}
                            <img src="{{product.image.url}}" alt="imagen deñ producto" heigth="300">

                            {% endif%}
                            <div class="card-body">
                                <h5 class="card-title">{{product.title}}</h5>
                                <p class="card-text">{{ product.description}}</p>
                                <a href="#" class="btn btn-primary">ver en detalle</a>
                        </div>
                        
                </div>
            </div>
            {% empty%}
            <h3> no hay productos duque acabo con todo</h3>
            {% endfor %}
        </div>
               

{% endblock content %}